@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: #f7f8f8;
    --ring: #1da1f2;
    --input: #f7f9fa;
    --muted: #E5E5E6;
    --accent: #E3ECF6;
    --border: #e1eaef;
    --radius: 1.3rem;
    --chart-1: #1e9df1;
    --chart-2: #00b87a;
    --chart-3: #f7b928;
    --chart-4: #17bf63;
    --chart-5: #e0245e;
    --popover: #ffffff;
    --primary: #1e9df1;
    --sidebar: #f7f8f8;
    --font-mono: Menlo, monospace;
    --font-sans: Open Sans, sans-serif;
    --secondary: #0f1419;
    --background: #ffffff;
    --font-serif: Georgia, serif;
    --foreground: #0f1419;
    --destructive: #f4212e;
    --shadow-blur: 0px;
    --shadow-color: rgba(29,161,242,0.15);
    --sidebar-ring: #1da1f2;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --sidebar-accent: #E3ECF6;
    --sidebar-border: #e1e8ed;
    --card-foreground: #0f1419;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --sidebar-primary: #1e9df1;
    --muted-foreground: #0f1419;
    --accent-foreground: #1e9df1;
    --popover-foreground: #0f1419;
    --primary-foreground: #ffffff;
    --sidebar-foreground: #0f1419;
    --secondary-foreground: #ffffff;
    --destructive-foreground: #ffffff;
    --sidebar-accent-foreground: #1e9df1;
    --sidebar-primary-foreground: #ffffff;
  }

  .dark {
    --card: #17181c;
    --ring: #1da1f2;
    --input: #22303c;
    --muted: #181818;
    --accent: #061622;
    --border: #242628;
    --chart-1: #1e9df1;
    --chart-2: #00b87a;
    --chart-3: #f7b928;
    --chart-4: #17bf63;
    --chart-5: #e0245e;
    --popover: #000000;
    --primary: #1c9cf0;
    --sidebar: #17181c;
    --secondary: #f0f3f4;
    --background: #000000;
    --foreground: #e7e9ea;
    --destructive: #f4212e;
    --shadow-color: rgba(29,161,242,0.25);
    --sidebar-ring: #1da1f2;
    --sidebar-accent: #061622;
    --sidebar-border: #38444d;
    --card-foreground: #d9d9d9;
    --sidebar-primary: #1da1f2;
    --muted-foreground: #72767a;
    --accent-foreground: #1c9cf0;
    --popover-foreground: #e7e9ea;
    --primary-foreground: #ffffff;
    --sidebar-foreground: #d9d9d9;
    --secondary-foreground: #0f1419;
    --destructive-foreground: #ffffff;
    --sidebar-accent-foreground: #1c9cf0;
    --sidebar-primary-foreground: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans), system-ui, -apple-system, sans-serif;
  }
}

